/*Reset*/

ul {
  margin: 0;
  padding: 0;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

/*Basic Style */

.button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

.button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__icon:hover {
  transform: rotateZ(0);
}

.title-hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.title-3,
.label[for="newTask"] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input[type="text"]:focus {
  color: #333;
}

/*body*/

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.body__main {}

/*main*/

.main {}

.main__intro {}

.main__application {}

/*intro*/

.into {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.intro__image {
  width: 100%;
}

.into__link-more {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .into {
    text-align: center;
  }

}

/*task-add*/

.task-add {}

.task-add__input {
  width: 318px;
  display: inline-block;
  flex-grow: 1;
}

.task-add__button {}

/*application*/

.application {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.application__label {
  display: block;
  margin: 0 0 20px;
}

.application__task {
  display: flex;
}

.application__wrapper {}

.application__title {}

.application__list {}

/*task-list*/

.task-list {}

.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list__check {
  margin: 0 10px;
}

.task-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  
  flex-grow: 1;
}

.task-list__input {
  width: 226px;
}

.task-list__button {}

/* New Task */

#newTask {
  width: 318px;
}

/* Completed */
#completedTasks .task-list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__item .task-list__input {
  display: none;
}

.task-list__item.edit-mode .task-list__input {
  display: inline-block;
  width: 224px;
  flex-grow: 1;
}

.task-list__item.edit-mode .task-list__label {
  display: none;
}